* {
  box-sizing: border-box;
  font-family: auto;
}

.container {
  font-size: 10px;
}

.container h1 {
  font-size: 175%;
}

.container h2 {
  font-size: 125%;
  text-align: top right-side;
}

section {
   float: left;
   background-color: #D3D3D3;
   padding: 10px;
   border: 1px solid;
   position: relative;
}

section p {
   padding-top: 50px;
}

h1 {
   text-align: center;
   margin-bottom: 50px;
}

@media (min-width: 993px){
   section { width: 80%;
	} 
}

@media (min-width: 768px) and (max-width: 992px){
   section { width: 50%;
	} 
}

@media(max-width: 767px){
	section { width: 25%;
	} 
}


